<%= simple_form_for(note) do |f| %>

  <%= f.input :title, as: :string %>

  <%= f.input :description, as: :text %>

  <%= f.input :due_date, as: :date, order: %i[day month year] %>

  <%= f.input :priority, collection: %w[Low Medium High] %>

  <div class="row">
    <div class="col-6">
      <%= link_to "Cancel", :back, class: 'btn btn-secondary w-100' %>
    </div>
    <div class="col-6">
      <%= f.submit @note.persisted? ? "Update Note" : "New Note", class: 'btn btn-primary w-100' %>
    </div>
  </div>

<% end %>
